name: Monitor CI

on:
  workflow_run:
    workflows: ["readme-scribe"]
    types:
      - completed
  workflow_dispatch:

jobs:
  release:
    name: Build and deploy gh-pages site
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: Calculate project metrics
        id: projectmetrics
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        run: |
          yarn
          yarn build
          yarn test
          SRC_SIZE=($(du -s src/))
          SRC_FILES_COUNT=($(find src -type f | wc -l))
          STATEMENT_COV=($(cat coverage/coverage-summary.json | jq ".total.statements.pct"))
          echo "::set-env name=code_size::$SRC_SIZE"
          echo "::set-env name=code_files_count::$SRC_FILES_COUNT"
          echo "::set-env name=statement-coverage::$STATEMENT_COV"
      - uses: buluma/repo-monitor-action@0.1.2
        name: Update Report
        with:
          key: code-size
          value: ${{ env.code_size }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./
        name: Update Report for Files Count
        with:
          key: files-count
          value: ${{ env.code_files_count }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./
        name: Update Report for Statement Coverage
        with:
          key: statement-coverage
          value: ${{ env.statement-coverage }}
          token: ${{ secrets.GITHUB_TOKEN }}
